@charset "UTF-8";
#pageallbox{
    padding:0px;
    background-color: azure;
}
#toptitle{
    display: block;
    text-align: center;
    font-weight: bold;
}
.clickbutton{
    width:100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background-color: rgb(255, 230, 180);
}
.clickbox{
    padding:6px 3px;
    font-weight: bold;
    background-color: rgb(255, 230, 180);
    cursor: pointer;
    transition: all 0.6s;
    opacity: 1;
  float:left;
}
.clickbox:hover{
    background-color: rgba(220, 140, 30, 0.4);
}
.cleararea{
    clear: both;
}
.listbox {
    padding:2px;
    font-size:86%;
    list-style: none;
}
.contentbox{
    height:0;
    opacity: 0;
    margin: 0;
    padding-left:4px;
    overflow: hidden;
    transition: all 0.6s;
}
.weponcontent{
    padding:0;
}
.pngdeta{
    cursor: pointer;
    transition: all 0.6s;
    margin: 1px;
    display: block;
    border:1px solid #ddd;
    float: left;
    height:56px;
    width:56px;
    overflow: hidden;
    font-size: 14px;
}
.pngdeta img:hover{
    opacity: 0.5;
}
.pngdeta img{
    height:56px;
    width:56px;
}
#resultbox{
    background-color: rgba(240, 200, 140,0.3);
    margin:0px 0px 0px 0px;
    padding-left:4px;
    clear: both;
}
#resultlist {
    font-weight: bold;
}
.result{
    padding:4px 0px 4px 0px;
}
.resultmenu .inputmt{
    width:74px;
    font-size: 24px;
    margin-right:4px;
    margin-left:0px;
    border: 1px solid #ddd;
    height: 32px;
    vertical-align: bottom;
}
button {
    width: 40px;
    height: 36px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    vertical-align: middle;
    border: 1px solid #ddd;
    background-color: whitesmoke;
    transition: all 0.6s;
}
.resultbutton{
    width: 64px;
    margin: 0px;
    font-weight: bold;
    font-size: 22px;
    background-color: rgb(255, 230, 180);
    border: none;
}
.clear{
    width: 64px;
    margin: 0px;
    font-size: 14px;
    text-align: center;
}
button:hover{
    background-color: rgba(80, 80, 80,0.4);
}
.input-range[type="range"] {
    -webkit-appearance: none;
    background-color: #fff;
    height: 10px;
    width: 94%;
    border:1px solid #333;
    cursor: pointer;
}
#rangebox{
    font-size: 16px;
    font-weight: normal;
}
#range1{
    margin:5px 0px 10px 0px;
    text-align: center;
}
#seveboxall{
    text-align: center;
    padding:0px;
}
.sevelist{
    width:94%;
    height: 30px;
    border:1px solid #ddd;
    font-size:16px;
    margin:12px 0px 0px 0px;
}
#sevebox{
    height:auto;
}
.toukaset{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
