@charset "UTF-8";

.article-body h2{
    color: white;
    background: cornflowerblue;
    line-height: 1.4;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.article-body h2:before {
    content: "\◆";
    color: #ffffff;
    padding: 0 0.2em 0 0;
}

.article-body h3 {
    padding: 4px 0;
    line-height: 1.4;
    color: #ffffff;
    background: #f86868;
}

.article-body h3:before {
    content: "\★";
    color: #ffffff;
    padding: 0 0.2em 0 0;
}

.article-body h4 {
    padding: 4px 0;
    line-height: 1.4;
    color: #ffffff;
    background: #3c5a8e;
}
.article-body h4:before {
    content: "\・";
    color: #ffffff;
    padding: 0 0.2em 0 0;
}


p.linkbutton {padding: 0.3em 0;text-align: center;border: 2px solid red;}
p.linkbutton a {display: block;text-decoration: none;color: #49439a;font-weight: bold;font-size: 18px;}


.table_sinsui_box{
    width: 100%;
    border-collapse: collapse;
    text-align:center;
}
.table_sinsui_box td{
    vertical-align: middle;
    height: 76px;
    border:2px solid #00BCD4
}

.table_sinsui_box td:nth-child(odd){
    width: 76px;
} 
.table_sinsui_box td img{
    vertical-align: top;
}
