@charset "UTF-8";

.article-body h2{
    color: white;
    background: cornflowerblue;
    line-height: 1.4;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.article-body h2:before {
    content: "\◆";
    color: #ffffff;
    padding: 0 0.2em 0 0;
}

.article-body h3 {
    padding: 4px 0;
    line-height: 1.4;
    color: #ffffff;
    background: #f86868;
}

.article-body h3:before {
    content: "\★";
    color: #ffffff;
    padding: 0 0.2em 0 0;
}

.article-body h4 {
    padding: 4px 0;
    line-height: 1.4;
    color: #ffffff;
    background: #3c5a8e;
}
.article-body h4:before {
    content: "\・";
    color: #ffffff;
    padding: 0 0.2em 0 0;
}
    
#img_box img{width: auto;max-height: 500px;}
#img_box input{display:none;}
#img_box input+img{display:none;}
#img_box input:checked+img{display: block;max-height: 500px;}
#img_box input+a{display:none;}
#img_box input:checked+a{display: block;}

p.linkbutton {padding: 0.3em 0;text-align: center;border: 2px solid red;}
p.linkbutton a {display: block;text-decoration: none;color: #49439a;font-weight: bold;font-size: 18px;}
.maintagu_sute table th{background-color: #EEE;}
#character_profile table th{background-color: #EEE;}

#link_sinnsuibilist,#link_characterlist{display:none;}

.article-body-inner p {
    line-height: 1.7;
}
#character_profile td,#character_profile th{padding:4px 4px 4px 8px;}
#target_status td,#target_status th{padding:4px;}
.skllcss td,.skllcss th{padding:4px;}
.skllcss{border: 1px solid #2196F3;border-top:none;margin: 0.5em 0;}
.skllcss table{border-top: 1px solid #2196F3;width:100%;background: #EEE;margin:0;}
.az_color{color:#F44336;}
.soubilinecss{width:100%;background: #EEE;margin:0;}
.img_set{width:60px;height:60px;line-height: 0;}
.article-body-inner table th,.article-body-inner table td{border: none !important;padding: 4px;}
table#specdeta{text-align:center;background:#EFF;}
table#specdeta th{background:#e7e7e7;}
.maintagu_sute table{width: 100%;background: #EFF;}
