@charset "UTF-8";

.article-body h2{
    color: white;
    background: cornflowerblue;
    line-height: 1.4;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.article-body h2:before {
    content: "\◆";
    color: #ffffff;
    padding: 0 0.2em 0 0;
}

.article-body h3 {
    padding: 4px 0;
    line-height: 1.4;
    color: #ffffff;
    background: #f86868;
}

.article-body h3:before {
    content: "\★";
    color: #ffffff;
    padding: 0 0.2em 0 0;
}

.article-body h4 {
    padding: 4px 0;
    line-height: 1.4;
    color: #ffffff;
    background: #3c5a8e;
}
.article-body h4:before {
    content: "\・";
    color: #ffffff;
    padding: 0 0.2em 0 0;
}
    
#img_box img{width: auto;max-height: 500px;}
#img_box input{display:none;}
#img_box input+img{display:none;}
#img_box input:checked+img{display: block;max-height: 500px;}
#img_box input+a{display:none;}
#img_box input:checked+a{display: block;}

p.linkbutton {padding: 0.3em 0;text-align: center;border: 2px solid red;}
p.linkbutton a {display: block;text-decoration: none;color: #49439a;font-weight: bold;font-size: 18px;}
.maintagu_sute table th{background-color: #EEE;}
#character_profile table th{background-color: #EEE;}

#link_sinnsuibilist{display:block;}
#link_characterlist{display:block;}

.article-body-inner p {
    line-height: 1.7;
}
#character_profile td,#character_profile th{padding:4px 4px 4px 8px;}
#target_status table{width: 100%;border-collapse: collapse;box-sizing: border-box;}
#target_status td,#target_status th{width:16.666%;width:-webkit-calc(100%/6);width:calc(100%/6);}
#target_status td{background:#fff;}
#target_status th{background:#eff;}

.skllcss td,.skllcss th{padding:4px 0;}
.skllcss{border-bottom: 1px solid #2196F3;margin: 0.5em 0;}
.skllcss table{width:100%;background: #EEE;margin:0;border-collapse: collapse;}
.skllcss table td {border: 1px solid #2196F3;}
.az_color{color:#F44336;}
.soubilinecss{width:100%;background: #EEE;margin:4px 0px;border: 1px solid #ff8686;}
.img_set{width:60px;height:60px;line-height: 0;}
.article-body-inner table th,.article-body-inner table td{
    //border: none !important;
    padding: 4px;
}
table#specdeta{text-align:center;background:#EFF;}
table#specdeta th{background:#e7e7e7;}

.picface{
height: 54px;
font-size: 0;
line-height: 0;
padding: 0;
}
.picface img{
    width: 100%;
}

.N{background: #efefef !important;}
.R{background: #aee6ff !important;}
.SR{background: #e5d6ff !important;}
.SSR{background: #fff9c3 !important;}
.UR{background: linear-gradient(135deg,#6c6,#6ff,#c9f,#c6c) !important;}
.PR{background: #ffd75d !important;}
.DR{background: linear-gradient(45deg,#cc9,#f9f,#9ff,#9c9) !important;}
.META{background: linear-gradient(45deg,#000000,#AD2A02,#D2541B,#000000,#6D2100,#9A2802)!important;color: white;}

#img_new_box{background: #f6f6f6;justify-content: center;}
#img_new_box a{display:none;}
#img_new_box a:first-of-type{display:block;}
#img_new_box a img{display: block;}
select[name="imgselectbox"]{width: 100%;height: 24px;margin: 0 0 0.5em 0;}

