/* 艦船検索 */
#id_kan_list_div .kan_list_div{
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    background: azure;
    padding: 8px 0;
}
#id_kan_list_div .kan_list_div div{
    width: 62px;height: 122px;overflow: hidden;position: relative;margin: 0px 2px;
}
#id_kan_list_div .kan_list_div div .kanpic{
    width: 62px!important;
    height: 62px!important;
    border:2px solid;
    border-top:4px solid;
    border-bottom:4px solid;
    border-radius: 10px;
    box-sizing: border-box;
}

#id_kan_list_div .kan_list_div div .kanpic.N{background: #cfcfcf !important;border-color:  #cfcfcf !important;}
#id_kan_list_div .kan_list_div div .kanpic.R{background: #aee6ff !important;border-color: #aee6ff !important;}
#id_kan_list_div .kan_list_div div .kanpic.SR{background: #ff9fff !important;border-color: #ff9fff !important;}
#id_kan_list_div .kan_list_div div .kanpic.SSR{background: #ffec42 !important;border-color: #ffec42 !important;}
#id_kan_list_div .kan_list_div div .kanpic.UR{background: linear-gradient(135deg,#6c6,#6ff,#c9f,#c6c) !important;border-image:linear-gradient(135deg,#6c6,#6ff,#c9f,#c6c) !important;}
#id_kan_list_div .kan_list_div div .kanpic.PR{background: #ffd75d !important;border-color: #ffd75d !important;}
#id_kan_list_div .kan_list_div div .kanpic.DR{background: linear-gradient(45deg,#cc9,#f9f,#9ff,#9c9) !important;border-image:linear-gradient(45deg,#cc9,#f9f,#9ff,#9c9) !important;}
#id_kan_list_div .kan_list_div div .kanpic.META{background: linear-gradient(45deg,#000000,#AD2A02,#D2541B,#000000,#6D2100,#9A2802)!important;color: white;border-image:linear-gradient(45deg,#000000,#AD2A02,#D2541B,#000000,#6D2100,#9A2802)!important;}

#id_kan_list_div .kan_list_div div a img{
    width: 62px!important;
    height: 62px!important;
    text-decoration: none!important;
}

#id_kan_list_div .kan_list_div div a{
    width: 62px;
    height: 122px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-padding {
    padding: 0px!important;
}

p.linkbutton {padding: 0.3em 0;text-align: center;border: 2px solid red;}
p.linkbutton a {display: block;text-decoration: none;color: #49439a;font-weight: bold;font-size: 18px;}

#link_sinnsuibilist{display:block;}
