@charset "UTF-8";

#img_box img{width: auto;max-height: 500px;}
#img_box input{display:none;}
#img_box input+img{display:none;}
#img_box input:checked+img{display: block;max-height: 500px;}
#img_box input+a{display:none;}
#img_box input:checked+a{display: block;}

p.linkbutton {padding: 0.3em 0;text-align: center;border: 2px solid red;}
p.linkbutton a {display: block;text-decoration: none;color: #49439a;font-weight: bold;font-size: 18px;}
.maintagu_sute table th{background-color: #EEE;}
#character_profile table th{background-color: #EEE;}

#link_sinnsuibilist,#link_characterlist{display:none;}


.soubi_template_style tr{
    height:30px;
}

#img_new_box > *:not(:first-of-type){
display:none;
}
#img_new_box02 > *:not(:first-of-type){
display:none;
}
#img_new_box03 > *:not(:first-of-type){
display:none;
}
