/* page_N8 */
#N8_page_link{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em 0;
}
#N8_page_link div{
    width: 118px;
    height: 26px;
    font-size: 14px;
    border: 1px solid #f00;
    overflow: hidden;
}
#N8_page_link div a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#N8_firstbutton{
    width: 174px;
    height: 46px;
    font-size: 18px;
}
#N8_subbox{
    display: flex;
    justify-content: center;
    font-size: 15px;
}
#N8_subbox div{
    width: 180px;
}
#N8_contentbox{
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#N8_subbox select{
    width: 176px;
    font-size: 15px;
    height: 30px;
}
#N8_diabox{
    display: flex;
    justify-content: center;
}
.N8_kisekae_boxs{
    width: 360px;
    height: 125px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}
.N8_kisekae_zero_boxs:nth-child(odd){
    font-weight: bold;
    height: 25px;
}
.N8_kisekae_zero_boxs{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.N8_kisekae_first_boxs{
    width: 100px;
    height: 100px;
    position: relative;
}
.N8_kisekae_first_boxs a{
    height: 100px;
    width: 100px;
    position: absolute;
}
.N8_kisekae_first_boxs img{
    height: 100px;
    width: 100px;
}
.N8_kisekae_second_boxs{
    width: 260px;
    background: white;
}
.N8_kisekae_second_childs{
    width: 260px;
    height: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.N8_kisekae_second_childs:nth-child(odd){
    background: #e4fcff;
}
