@charset "UTF-8";

.table_card_soubi{
    text-align: center;
    font-weight: bold;
    background: linear-gradient(#dcdcdc, #ffffff);
    font-size: 15px;
    box-sizing: border-box;
    border: 1px solid #555;
    border-radius: 2%;
    overflow: hidden;
width:312px;
display: grid;
grid-template-rows: 48px;
grid-template-columns: 104px 104px 104px;

}

.table_card_soubi .table_card_img{
    grid-row: 2 / 5;
    grid-column: 1;
    line-height: 0;
    padding: 0;
}

.table_card_soubi .table_card_sp{
    grid-column: 2 / 4;
}

.table_card_soubi .main_card{
grid-column: 1 / 4;
width:312px;
display: grid;
grid-template-columns: 104px 104px 104px;
}

.table_card_soubi .card_all{
grid-column: 1 / 4;
}
.main_card .card_single{
grid-column: 1 / 2;
}
.main_card .card_doubles{
grid-column: 2 / 4;
}

.linkbutton{
    display:none;
}


.skllcss td,.skllcss th{padding:4px 0;}
.skllcss{border-bottom: 1px solid #2196F3;margin: 0 0 0.5em 0;}
.skllcss table{width:100%;background: #EEE;margin:0;border-collapse: collapse;}
.skllcss table td {border: 1px solid #2196F3;}
.az_color{color:#F44336;}
.soubilinecss{width:100%;background: #EEE;margin:4px 0px;border: 1px solid #ff8686;}
.img_set{width:60px;height:60px;line-height: 0;}
.article-body-inner table th,.article-body-inner table td{
    //border: none !important;
    padding: 4px;
}


