
.N{background:#ccc !important;}
.R{background:#9fe8ff !important;}
.SR{background:#c4adff !important;}
.SSR{background:#ffff83 !important;}
.UR{background: linear-gradient(120deg,#fbffca,#baffbf,#a7efff,#ffabff) !important;}
.PR{background:#ffff83 !important;}
.DR{background: linear-gradient(120deg,#fbffca,#baffbf,#a7efff,#ffabff) !important;}



.EX,.SSS,.SS{background: linear-gradient(135deg,#fbffca,#baffbf,#a7efff,#ffabff) !important;}
.T0,.S\+,.S,.S-{background: #ff5252;}
.T1,.A\+,.A,.A-{background: #ffcb52;}
.T2,.B\+,.B,.B-{background: #53ff52;}
.T3,.C\+,.C,.C-{background: #52f6ff;}
.T4,.D\+,.D,.D-{background: #526eff;}
.T5,.F\+,.F,.F-{background: #a652ff;}

.T0\.5{background: #ff8352;}
.T1\.5{background: #d3ff52;}
.T2\.5{background: #52ffb9;}
.T3\.5{background: #52c6ff;}
.T4\.5{background: #6e52ff;}
.T5\.5{background: #be52ff;}


.main_card_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: linear-gradient(to top left,#cccccc,#aaaaaa,#cccccc);
}
.list_main_box{
    width: 100%;
    display: flex;
    align-items: center;
}

.ranklist_mainbox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.ranklist_danraku {
    width: 100%;
    display: flex;
    border: 2px solid #000000;
    box-sizing: border-box;
    flex-direction: column;
}
.ranklist_rankarea {
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ranklist_cardarea {
    width: 100%;
    display: flex;
    background: #9c9c9c;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
}
.rankcard_frame{
    width: calc(1120px/10);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid black;
    box-sizing: border-box;
}
.rankcard_inner{
    width: calc(1120px/10);
    height: auto;
    overflow: hidden;
    position: relative;
}
.rankcard_picdata{
    height: calc(1120px/10);
}
.rankcard_picbox{
    height: 94px;
    overflow: hidden;
}

.rankcard_picbox a{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
.rankcard_textbox{
    height: 20px;
    background: #000000;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.rankcard_bikoubox{
    height: 20px;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.rankcard_mark01 {
    position: absolute;
    top: -6px;
    right: 72px;
    color: #f00;
    text-shadow: 2px 2px 4px #000000;
    -webkit-text-stroke: 2px #000000;
    font-size: 30px;
}
.wakuUR,.wakuDR{background: linear-gradient(135deg,#fbffca,#baffbf,#a7efff,#ffabff);}
.wakuSSR,.wakuPR{background: linear-gradient(135deg, #ffffff, #ffc600);}
.wakuSR{background: linear-gradient(135deg, #ffffff, #ff3ed5);}
.wakuR{background: linear-gradient(135deg, #ffffff, #14d4ff);}
.wakuN{background: linear-gradient(135deg, #e7e7e7, #b1b1b1);}

