@charset "UTF-8";

p.linkbutton {padding: 0.3em 0;text-align: center;border: 2px solid red;}
p.linkbutton a {display: block;text-decoration: none;color: #49439a;font-weight: bold;font-size: 18px;}
.maintagu_sute table th{background-color: #EEE;}
#character_profile table th{background-color: #EEE;}

#link_sinnsuibilist{display:block;}
#link_characterlist{display:block;}

#character_profile td,#character_profile th{padding:4px 4px 4px 8px;}
#target_status table{width: 100%;border-collapse: collapse;box-sizing: border-box;}
#target_status td,#target_status th{width:16.666%;width:-webkit-calc(100%/6);width:calc(100%/6);}
#target_status td{background:#fff;}
#target_status th{background:#eff;}

.skllcss td,.skllcss th{padding:4px 0;}
.skllcss{border-bottom: 1px solid #2196F3;margin: 0.5em 0;}
.skllcss table{width:100%;background: #EEE;margin:0;border-collapse: collapse;}
.skllcss table td {border: 1px solid #2196F3;font-size: 1em;}
.az_color{color:#F44336;}
table.soubilinecss{width:100%;background: #dee8ff;margin:8px 0px;}
.img_set{width:60px;height:60px;line-height: 0;}
.article-body-inner table th,.article-body-inner table td{
    //border: none !important;
    padding: 4px;
}
table#specdeta{text-align:center;background:#EFF;}
table#specdeta th{background:#e7e7e7;}

.picface{
height: 54px;
font-size: 0;
line-height: 0;
padding: 0;
}
.picface img{
    width: 100%;
}

.N{background: #dbdcdf !important;}
.R{background: #1bb7eb !important;}
.SR{background: #ae90ef !important;}
.SSR{background: #f9f593 !important;}
.UR{background: linear-gradient(135deg,#6c6,#6ff,#c9f,#c6c) !important;}
.PR{background: #a0522d !important;color:#f9f593}
.DR{background: linear-gradient(45deg,#cc9,#f9f,#9ff,#9c9) !important;}
.META{background: linear-gradient(45deg,#000000,#AD2A02,#D2541B,#000000,#6D2100,#9A2802)!important;color: #f9f593;}
.META_SR{background: linear-gradient(45deg,#000000,#8B58AD,#C46FB3,#000000,#8250AB,#5C3B7D)!important;color: #FFCCFF;}

#img_new_box{background: #f6f6f6;justify-content: center;}
#img_new_box a:not(:first-of-type){
display:none;
}
select[name="imgselectbox"]{width: 100%;height: 24px;margin: 0 0 0.5em 0;}

#img_new_box02 a:not(:first-of-type){
display:none;
}
#img_new_box03 a:not(:first-of-type){
display:none;
}
