#kan_list_div,#sinsuisearch,#nostock_div {
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    background: azure;
    padding: 8px 0;
}

.character_box{
    width: 62px;
    height: 122px;
    overflow: hidden;
    position: relative;
    margin: 0px 2px;
}

.character_box .kanpic {
    width: 62px!important;
    height: 62px!important;
    border: 2px solid;
    border-top: 4px solid;
    border-bottom: 4px solid;
    border-radius: 10px;
    box-sizing: border-box;
}

.character_box a {
    width: 62px;
    height: 122px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.character_box a img {
    width: 62px!important;
    height: 62px!important;
    text-decoration: none!important;
}

.kanpic.N{background:#ccc !important;}
.kanpic.R{background:#9fe8ff !important;}
.kanpic.SR{background:#c4adff !important;}
.kanpic.SSR{background:#ee9 !important;}
.kanpic.UR{background: linear-gradient(120deg,#fbffca,#baffbf,#a7efff,#ffabff) !important;}
.kanpic.PR{background:#ee9 !important;}
.kanpic.DR{background: linear-gradient(120deg,#fbffca,#baffbf,#a7efff,#ffabff) !important;}

.character_box[data-display="inline_block"],.sinsui_chara[data-display="inline_block"]{display: inline-block;}
.character_box[data-display="block"],.sinsui_chara[data-display="block"]{display: block;}
.character_box[data-display="none"],.sinsui_chara[data-display="none"]{display: none;}

.table_sinsui_box{
    width: 100%;
    border-collapse: collapse;
}
.table_sinsui_box tr{
    margin: 4px 0px 0px 4px;
}
.table_sinsui_box td{
    vertical-align: middle;
    width: 256px;
    border:2px solid #00BCD4;
    text-align: center;
    box-sizing: border-box;
}

.sinsui_chara .character_box,.sinsui_chara .character_box img,.sinsui_chara .character_box a{
    width: 76px!important;
    height: 76px!important;
}
.table_sinsui_box td:nth-child(odd){
    border: none;
}
.table_sinsui_box td:nth-child(even){
    font-size: 16px;
    line-height: 22px;
}

p.linkbutton {padding: 0.3em 0;text-align: center;border: 2px solid red;}
p.linkbutton a {display: block;text-decoration: none;color: #49439a;font-weight: bold;font-size: 18px;}

#link_sinnsuibilist{display:block;}
